<!DOCTYPE html>
{% load static %}
    <html>
        <head>
            <meta charset="utf-8" />
            <link rel="stylesheet" href="{% static 'css/styles.css' %}" />
            <title>Hello Django</title>
        </head>
        <body>
            <div>
                {% block content %}
                {% endblock %}
                {% include "nav_bar.html" %}
            </div>
            <img src="{% static 'images/home.jpg' %}" alt="I look at the code" >
        </body>
    </html>

